<h3><%=translate('muck.users.request_access_code') %></h3>
<%= output_errors('Problem adding access code', {:class => 'help-box'}, @access_code_request) %>
<% custom_form_for :access_code_request, :url => access_code_requests_path do |f| -%>
  <%= f.text_field :email, { :label => translate('muck.users.email_address'),
                             :tip => translate('muck.users.access_code_request_tip')  } -%>
  <%= f.submit translate('muck.users.submit') %>
<% end -%>