<p style=";text-align:right;direction:rtl"> شكرا لاهتمامك في <%= MuckEngine.configuration.application_name %>. 
 ونحن حاليا الحد من الوصول إلى التطبيق ، لكننا سوف نقدم لكم مع ورمز الوصول بأسرع وقت ممكن. 
</p>
