<p> Gràcies pel seu interès en <%= MuckEngine.configuration.application_name %>. 
 En aquests moments estem limitant l&#39;accés a la sol licitud, però anem a oferir i codi d&#39;accés el més ràpid possible. 
</p>
