<p> Tak for din interesse i <%= MuckEngine.configuration.application_name %>. 
 Vi er i øjeblikket at begrænse adgangen til ansøgningen, men vi vil give dig og få adgang til registret så hurtigt som muligt. 
</p>
