<p> Grazzi għall-interess tiegħek <%= MuckEngine.configuration.application_name %>. 
 Bħalissa qed jillimitaw l-aċċess għall-applikazzjoni, iżda aħna ser jagħtuk u kodiċi ta &#39;aċċess malajr kemm jista&#39; jkun. 
</p>
