<p> Благодарим Вас за интерес, проявленный к <%= MuckEngine.configuration.application_name %>. 
 Мы в настоящее время ограничения доступа к приложению, но мы предоставим вам и код доступа как можно быстрее. 
</p>
