<p> Vă mulţumim pentru interesul dumneavoastră în <%= MuckEngine.configuration.application_name %>. 
 Suntem în prezent, limitarea accesului la cerere, dar vă vom oferi şi cu codul de acces cât mai repede posibil. 
</p>
