<p> Salamat sa iyong interes sa <%= MuckEngine.configuration.application_name %>. 
 Kami ay kasalukuyang takda ng access sa mga application, ngunit kami ay magbigay sa iyo at ma-access ang code bilang mabilis hangga&#39;t maaari. 
</p>
