<p> Takk for din interesse i <%= MuckEngine.configuration.application_name %>. 
 Vi er for tiden å begrense tilgang til programmet, men vi vil gi deg og få tilgang til koden så raskt som mulig. 
</p>
