<p> Хвала Вам на интересовању за <%= MuckEngine.configuration.application_name %>. 
 Тренутно смо ограничавање приступа апликацији, али ми ћемо вам пружити и приступног кода што је брже могуће. 
</p>
