<p> Děkujeme Vám za Váš zájem o <%= MuckEngine.configuration.application_name %>. 
 Jsme v současné době omezuje přístup do aplikace, ale budeme je poskytnout vám a přístupového kódu tak rychle, jak je to možné. 
</p>
