<p> Σας ευχαριστούμε για το ενδιαφέρον που δείξατε στο <%= MuckEngine.configuration.application_name %>. 
 Είμαστε περιορίζει επί του παρόντος πρόσβαση στην εφαρμογή, αλλά θα σας παρέχει και τον κωδικό πρόσβασης το συντομότερο δυνατό. 
</p>
