<p> आप अपने में रुचि के लिए धन्यवाद <%= MuckEngine.configuration.application_name %>. 
 हम वर्तमान में आवेदन के लिए उपयोग सीमित कर रहे हैं, लेकिन हम आप के साथ प्रदान और के रूप में जल्द से जल्द एक्सेस कोड होगा. 
</p>
