<p> Vielen Dank für Ihr Interesse an <%= MuckEngine.configuration.application_name %>. 
 Wir sind derzeit begrenzt auf die Anwendung zugreifen, aber wir werden Sie mit und geben Zugangscode so schnell wie möglich. 
</p>
