<p> gösterdiğiniz ilgi için teşekkür ederiz <%= MuckEngine.configuration.application_name %>. 
 Şu anda uygulama erişimi kısıtlayarak, ama biz erişim kodu mümkün olduğunca çabuk ve size veririz. 
</p>
