<p> Ďakujeme Vám za Váš záujem o <%= MuckEngine.configuration.application_name %>. 
 Sme v súčasnosti obmedzuje prístup do aplikácie, ale budeme je poskytnúť vám a prístupového kódu tak rýchlo, ako je to možné. 
</p>
