<p> Je vous remercie de votre intérêt pour <%= MuckEngine.configuration.application_name %>. 
 Nous sommes en train de limiter l&#39;accès à l&#39;application, mais nous allons vous fournir le code d&#39;accès et aussi rapidement que possible. 
</p>
