<p> Obrigado pelo seu interesse em <%= MuckEngine.configuration.application_name %>. 
 No momento, estamos limitando o acesso ao aplicativo, mas vamos fornecer-lhe e código de acesso o mais rápido possível. 
</p>
