<p style=";text-align:right;direction:rtl"> با تشکر از شما برای منافع خود را در <%= MuckEngine.configuration.application_name %>. 
 ما در حال حاضر محدود کردن دسترسی به نرم افزار است ، اما ما به شما با ارائه کد دسترسی و با بیشترین سرعت ممکن. 
</p>
