<p style=";text-align:right;direction:rtl"> سلام <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> با تشکر از شما برای ایجاد یک حساب کاربری! با کلیک بر روی آدرس زیر برای فعال سازی حساب کاربری خود شوید! </p>

