<p> Hello <%= h(@user.login) %>, </p>

<p> A kérelmet a jelszava újra beállítására került sor. 
 Ha nem teszi ezt a kérést, egyszerűen figyelmen kívül hagyja ezt a levelet. </p>

<p> Az Ön számlája még nem aktiválták. Egyszerűen kattintson az URL-t, hogy aktiválja fiókját. Ezután lehet változtatni a jelszót, hogy valamit, ami könnyen megjegyezhető. </p>

