<p> Поздрав <%= h(@user.login) %>, </p>

<p> Захтев за поновно постављање лозинке је учињен. 
 Уколико нисте направили овај захтев, једноставно игнорисати ову поруку. </p>

<p> Ваш налог још није активиран. Једноставно кликните на УРЛ адресу испод да бисте активирали свој налог. Након тога можете да промените лозинку у нешто што је лако за памћење. </p>

