<p> Hello <%= h(@user.login) %>, </p>

<p> Žiadosť o obnovenie svojho hesla bola vykonaná. 
 Ak ste nevykonali túto žiadosť, jednoducho ignorovať tento e-mail. </p>

<p> Váš účet ešte nebol aktivovaný. Jednoducho kliknite na odkaz nižšie pre aktiváciu účtu. Po tomto môžete zmeniť heslo k niečomu, čo je ľahko zapamätateľné. </p>

