<p> Hola <%= h(@user.login) %>, </p>

<p> Una petició per restablir la contrasenya s&#39;ha fet. 
 Si no ha realitzat aquesta sol.licitud, simplement no feu cas missatge. </p>

<p> El seu compte no ha estat activat. Simplement feu clic al següent URL per activar el teu compte. Després que vostè pot canviar la contrasenya per una cosa que sigui fàcil de recordar. </p>

