<p> <%= h(@user.login) %>, नमस्ते </p>

<p> एक करने के लिए अपना पासवर्ड रीसेट अनुरोध किया गया है. 
 यदि आप इस अनुरोध नहीं किया है, बस इस ईमेल की अनदेखी. 
 यदि आप इस अनुरोध को बस के नीचे लिंक पर क्लिक करना था: </p>

