<p> Hello <%= h(@user.login) %>, </p>

<p> En begäran om att återställa ditt lösenord har gjorts. 
 Om du inte har gjort denna begäran, helt enkelt ignorera detta mail. 
 Om du har gjort denna förfrågan genom att klicka på länken nedan: </p>

