<p> Γεια σας <%= h(@user.login) %>, </p>

<p> Η αίτηση για την επαναφορά του κωδικού σας έχει γίνει. 
 Αν δεν έχετε κάνει το αίτημα αυτό, απλά να αγνοήσουμε αυτό το email. 
 Αν έκανε αυτή την αίτηση κάντε κλικ στον παρακάτω σύνδεσμο: </p>

