<p style=";text-align:right;direction:rtl"> سلام <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> درخواست رمز عبور اکانت شما ساخته شده است. 
 اگر شما این درخواست را ندارد ، تنها کافی است این ایمیل را نادیده گرفت. 
 اگر شما این درخواست را فقط با کلیک بر روی لینک زیر : </p>

