<p> Hello <%= h(@user.login) %>, </p>

<p> Talba għal reset password tiegħek ikun sar. 
 Jekk inti ma tagħmel din it-talba, sempliċiment tinjora din l-email. 
 Jekk inti ma tagħmel din it-talba biss ikklikkja l-link hawn taħt: </p>

