<p> Hei <%= h(@user.login) %>, </p>

<p> En forespørsel om å tilbakestille passordet har blitt gjort. 
 Hvis du ikke har sendt denne forespørselen, bare ignorere denne e-postmeldingen. 
 Hvis du har sendt denne forespørselen klikk på linken nedenfor: </p>

