<p> <%= h(@user.login) %>, नमस्ते </p>

<p> एक करने के लिए अपना पासवर्ड रीसेट अनुरोध किया गया है. 
 यदि आप इस अनुरोध नहीं किया है, बस इस ईमेल की अनदेखी. </p>

<p> आपका खाता अभी तक सक्रिय नहीं किया गया है. बस url करने के लिए नीचे अपने खाते को सक्रिय करें क्लिक करें. उसके बाद तुम कुछ है जो याद रखने में आसान है के लिए अपना पासवर्ड बदल सकते हैं. </p>

