<p> Hello <%= h(@user.login) %>, </p>

<p> Zahtevo za ponastavitev gesla ni bila vložena. 
 Če niste te zahteve, preprosto prezrite to sporočilo. </p>

<p> Vaš račun še ni bil aktiviran. Preprosto kliknite spodnjo url aktivirali svoj račun. Po tem lahko spremenite svoje geslo za nekaj, kar je enostavno zapomniti. </p>

