<p> Γεια σας <%= h(@user.login) %>, </p>

<p> Η αίτηση για την επαναφορά του κωδικού σας έχει γίνει. 
 Αν δεν έχετε κάνει το αίτημα αυτό, απλά να αγνοήσουμε αυτό το email. </p>

<p> Ο λογαριασμός σας δεν έχει ακόμα ενεργοποιηθεί. Απλά κάντε κλικ στο παρακάτω url για να ενεργοποιήσετε το λογαριασμό σας. Μετά από αυτό μπορείτε να αλλάξετε τον κωδικό πρόσβασής σας σε κάτι που είναι εύκολο να θυμάστε. </p>

