<p> नमस्ते <%= h(@user.login) %>, </p>

<p> एक अनुरोध अपना पासवर्ड रीसेट करने के लिए किया गया है. 
 यदि आप इस अनुरोध नहीं किया, बस इस ईमेल को अनदेखा. 
 यदि आप इस अनुरोध को बस नीचे दिए गए लिंक पर क्लिक करना था: </p>

