<p> Hello <%= h(@user.login) %>, </p>

<p> Pieprasīt, lai atjaunotu savu paroli nav izdarīts. 
 Ja jūs neizdarīja šo lūgumu, vienkārši ignorē šo vēstuli. </p>

<p> Jūsu konts vēl nav aktivizēts. Vienkārši noklikšķiniet uz URL, lai aktivizētu savu kontu. Pēc tam Jūs varat mainīt paroli, lai kaut kas ir viegli atcerēties. </p>

