<p> Hello <%= h(@user.login) %>, </p>

<p> En anmodning om å tilbakestille passordet har blitt gjort. 
 Hvis du ikke har sendt denne forespørselen, bare ignorere denne e-posten. 
 Hvis du har sendt denne forespørselen bare klikk på linken nedenfor: </p>

