<p> Hello <%= h(@user.login) %>, </p>

<p> Bir istek yapılmış şifrenizi sıfırlayın. 
 Eğer bu isteği siz yapmadıysanız, bu e-postayı görmezden. </p>

<p> Hesabınız henüz aktif değil. Tıklamanız yeterlidir Hesabınızı etkinleştirmek aşağıdaki url. Bundan sonra kolay hatırlanacak bir şey için şifrenizi değiştirebilirsiniz. </p>

