<p> Ola <%= h(@user.login) %>, </p>

<p> A solicitude para axustar o teu contrasinal se realizase. 
 Se non fai esta solicitude, simplemente ignorar este correo-e. </p>

<p> A túa conta aínda non foi activado. Só ten que premer na dirección de embaixo para activar a súa conta. Despois diso, pode cambiar o seu contrasinal para algo que sexa fácil de lembrar. </p>

