<p> Pozdrav <%= h(@user.login) %>, </p>

<p> Zahtjev za povrat zaporke je napravljen. 
 Ako niste podnijeli ovaj zahtjev, jednostavno zanemarite ovu poruku. </p>

<p> Vaš račun još nije aktiviran. Jednostavno kliknite na link ispod kako bi aktivirali svoj korisnički račun. Nakon toga možete promijeniti svoju lozinku u nešto što je jednostavno za pamćenje. </p>

