<p style=";text-align:right;direction:rtl"> سلام <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> درخواست رمز عبور اکانت شما ساخته شده است. 
 اگر شما این درخواست را ندارد ، تنها کافی است این ایمیل را نادیده گرفت. </p>

<p style=";text-align:right;direction:rtl"> حساب شما هنوز فعال شده است. به سادگی با کلیک بر روی آدرس زیر را برای فعال سازی حساب کاربری خود شوید. بعد از آن شما ممکن است رمز عبور خود را به چیزی است که آسان به خاطر داشته باشید تغییر کنند. </p>

