<p> Witam <%= h(@user.login) %>, </p>

<p> Wniosek, aby zresetować hasło zostało dokonane. 
 Jeśli nie uczynił tego wniosku, po prostu zignorować tę wiadomość. 
 Jeśli tak złożyć taki wniosek po prostu kliknij na link poniżej: </p>

