<p> Hello <%= h(@user.login) %>, </p>

<p> A kérelmet a jelszava újra beállítására került sor. 
 Ha nem teszi ezt a kérést, egyszerűen hagyja figyelmen kívül ezt a levelet. 
 Ha nem teszik ezt a kérelmet, kattints az alábbi linkre: </p>

