<p style=";text-align:right;direction:rtl"> مرحبا <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> وقد قدم طلب لإعادة تعيين كلمة المرور. 
 إذا كنت لم تقدم هذا الطلب ، ببساطة تجاهل هذا البريد الإلكتروني. 
 إذا كنت لم تجعل هذا الطلب فقط انقر على الرابط أدناه : </p>

