<p> Merhaba <%= h(@user.login) %>, </p>

<p> Şifrenizi sıfırlamak için bir istek yapıldı. 
 Bu isteği siz yapmadıysanız, bu e-postayı görmezden geliyor. 
 Bu isteği hemen aşağıdaki linke tıklayın yaptı ise: </p>

