<p> Hello <%= h(@user.login) %>, </p>

<p> Një kërkesë për të rivendosni fjalëkalimin tuaj është bërë. 
 Nëse ju nuk e keni bërë këtë kërkesë, thjesht injoroni këtë email. </p>

<p> Llogaria juaj nuk është aktivizuar akoma. Thjesht klikoni lidhjen më poshtë për të aktivizuar llogarinë tuaj. Pas kësaj ju mund të ndërroni fjalëkalimin tuaj për diçka që është e lehtë për mësim. </p>

