<p> Bonjour <%= h(@user.login) %>, </p>

<p> Talba għal reset password tiegħek tkun saret. 
 Jekk inti ma tagħmel din it-talba, sempliċiment tinjora din l-email. 
 Jekk inti ma tagħmel din it-talba biss ikklikkja l-link hawn taħt: </p>

