<p> Hei <%= h(@user.login) %>, </p>

<p> Pyynnön salasanasi on tehty. 
 Jos et tee tätä pyyntöä, yksinkertaisesti sivuuttaa tämän sähköpostiviestin. 
 Jos et tee tätä pyyntöä klikkaa alla olevaa linkkiä: </p>

