<p> Здравейте <%= h(@user.login) %>, </p>

<p> Искането да възстановите паролата си е направено. 
 Ако не направи това искане, просто игнорират този имейл. 
 Ако ви е направила това искане трябва само да кликнете върху връзката по-долу: </p>

