<p> Hello <%= h(@user.login) %>, </p>

<p> Talba għal reset password tiegħek sar. 
 Jekk inti ma tagħmel din it-talba, sempliċiment tinjora din l-email. 
 Jekk inti ma jagħmlu din it-talba ikklikkja l-link hawn taħt: </p>

