<p> Здравейте <%= h(@user.login) %>, </p>

<p> Искането да възстановите паролата си е било направено. 
 Ако не направи това искане, просто игнорирайте това съобщение. </p>

<p> Вашата сметка все още не е активиран. Просто щракнете върху адреса по-долу, за да активирате профила си. След това можете да смените паролата си за нещо, което е лесно за запомняне. </p>

