<p> Hei <%= h(@user.login) %>, </p>

<p> En forespørsel om å tilbakestille passordet har blitt gjort. 
 Hvis du ikke har sendt denne forespørselen, bare ignorere denne e-postmeldingen. </p>

<p> Kontoen din har ennå ikke blitt aktivert. Bare klikk på linken under for å aktivere kontoen din. Etter at du kan endre passordet til noe som er lett å huske. </p>

