<p> Hallo <%= h(@user.login) %>, </p>

<p> Ein Ersuchen um Ihr Passwort zurückzusetzen gestellt wurde. 
 Wenn Sie diese Anfrage nicht machen, einfach ignorieren Sie diese E-Mail. 
 Falls Sie diesen Antrag nur den unten stehenden Link klicken: </p>

