<p style=";text-align:right;direction:rtl"> שלום <%= h(@user.login) %>, </p>

<p style=";text-align:right;direction:rtl"> בקשה כדי לאפס את הסיסמה בוצעה. 
 אם לא הגשת בקשה זו, פשוט להתעלם דוא&quot;ל זו. 
 אם לא הגשת בקשה זו פשוט לחץ על הקישור להלן: </p>

