<p> Pozdravljeni <%= h(@user.login) %>, </p>

<p> Zahtevo za ponastavitev gesla je bil dosežen. 
 Če niste te zahteve, preprosto spreglejte sporočilo. </p>

<p> Vaš račun še ni bil aktiviran. Preprosto kliknite url spodaj, da aktivirate svoj račun. Po tem lahko spremenite geslo za nekaj, kar je enostavno zapomniti. </p>

