<p> Hej <%= h(@user.login) %>, </p>

<p> En anmodning om at nulstille din adgangskode er blevet foretaget. 
 Hvis du ikke har foretaget denne anmodning, skal du blot ignorere denne e-mail. 
 Hvis du har foretaget denne anmodning skal du blot klikke på linket nedenfor: </p>

