<p style=";text-align:right;direction:rtl"> שלום <%= h(@user.login) %>, </p>

<p style=";text-align:right;direction:rtl"> בקשה לאפס את הסיסמה שלך כבר עשה. 
 אם לא הגשת בקשה זו, פשוט להתעלם דוא&quot;ל זו. 
 אם לא הגשת בקשה זו פשוט לחץ על הקישור להלן: </p>

