<p style=";text-align:right;direction:rtl"> مرحبا <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> طلب لإعادة تعيين كلمة المرور الذي تم إحرازه. 
 اذا كنت لم تتقدم بهذا الطلب ، وذلك ببساطة تجاهل هذا البريد الإلكتروني. 
 إذا كنت لم تتقدم بهذا الطلب فقط انقر على الرابط أدناه : </p>

