<p> Hello <%= h(@user.login) %>, </p>

<p> Ang isang kahilingan na i-reset ang iyong password ay ginawa. 
 Kung hindi ka gumawa ng kahilingan na ito, kailangan lang huwag pansinin ang email na ito. 
 Kung ikaw ay gumawa ng kahilingan na ito i-click lamang ang link sa ibaba: </p>

