<p> Hello <%= h(@user.login) %>, </p>

<p> A kérelmet a jelszava újra beállítására került sor. 
 Ha nem teszi ezt a kérést, egyszerűen figyelmen kívül hagyja ezt a levelet. 
 Ha nem teszik ezt a kérést csak kattintson az alábbi linkre: </p>

