<p> Bună ziua <%= h(@user.login) %>, </p>

<p> O cerere pentru a reseta parola dvs. a fost făcut. 
 Dacă nu aţi făcut această solicitare, ignora pur şi simplu acest e-mail. 
 Dacă aţi făcut această solicitare, faceţi clic pe link-ul de mai jos: </p>

