<p> Поздрав <%= h(@user.login) %>, </p>

<p> Захтев за поновно постављање лозинке је учињен. 
 Уколико нисте направили овај захтев, једноставно игнорисати ову поруку. 
 Ако сте поднели овај захтев само кликните на линк испод: </p>

