<p> Hei <%= h(@user.login) %>, </p>

<p> Pyyntöön salasanasi on tehty. 
 Jos et ole tehnyt tätä pyyntöä, yksinkertaisesti sivuuttaa tämän sähköpostiviestin. </p>

<p> Tiliä ei ole vielä aktivoitu. Napsauta URL-osoite aktivoida tilisi. Tämän jälkeen voit vaihtaa salasanasi jotain, joka on helppo muistaa. </p>

