<p> Hello <%= h(@user.login) %>, </p>

<p> Pieprasīt, lai atjaunotu savu paroli nav izdarīts. 
 Ja jūs neizdarīja šo lūgumu, vienkārši ignorē šo vēstuli. 
 Ja jūs padarīt šo pieprasījumu, vienkārši noklikšķiniet uz saites: </p>

