<p> Hello <%= h(@user.login) %>, </p>

<p> A kérelmet a jelszava újra beállítására került sor. 
 Ha nem teszi ezt a kérést, egyszerűen hagyja figyelmen kívül ezt a levelet. </p>

<p> A fiók még nincs aktiválva. Egyszerűen kattintson az URL-t, hogy aktiválja fiókját. Után, hogy megváltoztathatja a jelszót, hogy valami könnyen megjegyezhető. </p>

