<p> Dobrý deň, <%= h(@user.login) %>, </p>

<p> Žiadosť o resetovanie hesla bola vykonaná. 
 Ak ste nevykonali túto požiadavku, jednoducho ignorovať tento e-mail. </p>

<p> Váš účet ešte nebol aktivovaný. Stačí kliknúť na odkaz nižšie pre aktiváciu účtu. Potom, ktoré môžete zmeniť svoje heslo na niečo, čo je ľahko zapamätateľné. </p>

