<p style=";text-align:right;direction:rtl"> مرحبا <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> طلب لإعادة تعيين كلمة المرور الذي تم إحرازه. 
 اذا كنت لم تتقدم بهذا الطلب ، وذلك ببساطة تجاهل هذا البريد الإلكتروني. </p>

<p style=";text-align:right;direction:rtl"> حسابك لم يتم تفعيله. ببساطة انقر فوق رابط أدناه لتفعيل حسابك. بعد ذلك يمكنك تغيير كلمة السر الخاصة بك لشيء أن يكون من السهل تذكر. </p>

