<p> Hello <%= h(@user.login) %>, </p>

<p> Pieprasījumu, lai atiestatītu savu paroli, ir veikta. 
 Ja jūs nav iesniegusi šo prasību, vienkārši ignorē šo vēstuli. </p>

<p> Jūsu konts vēl nav aktivizēts. Vienkārši noklikšķiniet uz URL, lai aktivizētu savu kontu. Pēc tam jūs varat mainīt savu paroli uz kaut ko, kas ir viegli atcerēties. </p>

