<p> Hei <%= h(@user.login) %>, </p>

<p> Pyytää salasanaa on tehty. 
 Jos et tee tätä pyyntöä, yksinkertaisesti jättää tämän viestin huomiotta. </p>

<p> Tiliä ei ole vielä aktivoitu. Napsauta url alla voit aktivoida tilisi. Tämän jälkeen voit vaihtaa salasanasi jotain, joka on helppo muistaa. </p>

