<p> Hello <%= h(@user.login) %>, </p>

<p> Një kërkesë të reset your password është bërë. 
 Nëse ju nuk e keni bërë këtë kërkesë, thjesht injoroni këtë email. 
 Nëse ju e keni bërë këtë kërkesë vetëm klikoni lidhjen më poshtë: </p>

