<p> Pozdrav <%= h(@user.login) %>, </p>

<p> Zahtjev za ponovno postavljanje zaporke je napravio. 
 Ako niste podnijeli ovaj zahtjev, jednostavno zanemarite ovu poruku e-pošte. 
 Ako ste podnijeli ovaj zahtjev samo kliknite vezu u nastavku: </p>

