<p> Γεια σας <%= h(@user.login) %>, </p>

<p> Η αίτηση για την επαναφορά του κωδικού πρόσβασής σας έχει γίνει. 
 Αν δεν έκανε το αίτημα αυτό, απλά να αγνοήσουμε αυτό το email. </p>

<p> Ο λογαριασμός σας δεν έχει ακόμα ενεργοποιηθεί. Απλά κάντε κλικ στην παρακάτω διεύθυνση URL για την ενεργοποίηση του λογαριασμού σας. Μετά από αυτό μπορείτε να αλλάξετε τον κωδικό σας σε κάτι που είναι εύκολο να θυμάστε. </p>

