<p> Hei <%= h(@user.login) %>, </p>

<p> Pyynnön salasanasi on tehty. 
 Jos et tee tätä pyyntöä, yksinkertaisesti sivuuttaa tämän sähköpostiviestin. </p>

<p> Tiliä ei ole aktivoitu. Klikkaa url alla aktivoida tilisi. Tämän jälkeen voit vaihtaa salasanan jotakin, joka on helppo muistaa. </p>

