<p> Bonjour <%= h(@user.login) %>, </p>

<p> Une demande de réinitialiser votre mot de passe a été faite. 
 Si vous n&#39;avez pas formulé cette demande, ignorez simplement ce message. 
 Si vous n&#39;avez pas effectué cette demande cliquez simplement sur le lien ci-dessous: </p>

