<p> Ciao <%= h(@user.login) %>, </p>

<p> Una richiesta di reimpostare la password è stata fatta. 
 Se non hai fatto questa richiesta, è sufficiente ignorare questa e-mail. </p>

<p> Il tuo account non è stato ancora attivato. L&#39;url è sufficiente fare clic qui sotto per attivare l&#39;account. Dopo di che si può cambiare la tua password per qualcosa che è facile da ricordare. </p>

