<p> Hello <%= h(@user.login) %>, </p>

<p> Zahtevo za ponastavitev gesla ni bila vložena. 
 Če niste te zahteve, preprosto prezrite to sporočilo. 
 Če si lahko to zahtevo samo kliknite spodnjo povezavo: </p>

