<p> Welkom <%= h(@user.login) %>, </p>

<p> Een verzoek om uw wachtwoord opnieuw is gemaakt. 
 Als je niet maken, dit verzoek, gewoon negeren deze e-mail. 
 Als u heeft dit verzoek klikt u op de onderstaande link: </p>

