<p> Здравейте <%= h(@user.login) %>, </p>

<p> Искането да смените паролата си е направено. 
 Ако не сте направили това искане, просто игнорирайте това съобщение. </p>

<p> Вашата сметка все още не е активирана. Просто кликнете на URL-долу, за да активирате профила си. След това можете да смените паролата си за нещо, което е лесно за запомняне. </p>

