<p> Ciao <%= h(@user.login) %>, </p>

<p> Una richiesta di reimpostare la password è stata fatta. 
 Se non hai fatto questa richiesta, semplicemente ignora questa email. 
 Se hai fatto questa richiesta basta cliccare il link qui sotto: </p>

