<p> สวัสดี <%= h(@user.login) %>, </p>

<p> ขอให้ตั้งรหัสผ่านใหม่ของคุณได้รับการทำ 
 หากคุณไม่ได้ทำคำขอนี้ก็ไม่สนใจอีเมลฉบับนี้ </p>

<p> บัญชีของคุณยังไม่ได้เปิดใช้งาน เพียงคลิกที่ URL ข้างล่างเพื่อเปิดใช้งานบัญชีของคุณ หลังจากนั้นคุณอาจมีการเปลี่ยนแปลงรหัสผ่านของคุณไปยังสิ่งที่ง่ายต่อการจำ </p>

