<p> Hello <%= h(@user.login) %>, </p>

<p> Pieprasījums, lai atjaunotu savu paroli gūti. 
 Ja jums nav padarīt šo lūgumu, vienkārši ignorē šo vēstuli. 
 Ja jūs padarīt šo prasību vienkārši noklikšķiniet uz saites zemāk: </p>

