<p> Hallo <%= h(@user.login) %>, </p>

<p> Eine Anfrage zum Zurücksetzen des Passworts vorgenommen wurde. 
 Wenn Sie nicht diesen Antrag stellen, ignorieren Sie diese E-Mail. </p>

<p> Ihr Konto wurde noch nicht aktiviert. Klicken Sie einfach auf die unten angegebene URL auf Ihr Konto zu aktivieren. Danach können Sie Ihr Passwort ein, um etwas, das sich leicht merken ändern. </p>

