<p> Olá <%= h(@user.login) %>, </p>

<p> Uma solicitação para redefinir sua senha tenha sido feita. 
 Se você não fez esse pedido, simplesmente ignore este e-mail. </p>

<p> A sua conta ainda não foi ativado. Basta clicar na URL abaixo para ativar sua conta. Depois disso, você pode mudar a senha para algo que é fácil de se lembrar. </p>

