<p> Привіт <%= h(@user.login) %>, </p>

<p> Запит на зміну пароля було зроблено. 
 Якщо ви не робили цей запит, просто ігноруйте це повідомлення. 
 Якщо ви зробили це прохання просто натисніть на посилання нижче: </p>

