<p> Xin chào <%= h(@user.login) %>, </p>

<p> Một yêu cầu đặt lại mật khẩu của bạn đã được thực hiện. 
 Nếu bạn đã không thực hiện yêu cầu này, chỉ cần bỏ qua email này. </p>

<p> Tài khoản của bạn chưa được kích hoạt. Đơn giản chỉ cần click vào địa chỉ dưới đây để kích hoạt tài khoản của bạn. Sau đó bạn có thể thay đổi mật khẩu của bạn để một cái gì đó dễ nhớ. </p>

