<p> Hello <%= h(@user.login) %>, </p>

<p> Bir istek yapılmış şifrenizi sıfırlayın. 
 Eğer bu isteği siz yapmadıysanız, bu e-postayı görmezden. 
 Eğer bu isteği sadece aşağıdaki bağlantıyı tıklayın yaptı: </p>

