<p> Pozdrav <%= h(@user.login) %>, </p>

<p> Zahtjev za povrat zaporke je napravljen. 
 Ako niste podnijeli ovaj zahtjev, jednostavno zanemarite ovu poruku. 
 Ako ste podnijeli ovaj zahtjev je samo kliknite na link ispod: </p>

