<p> Sveiki <%= h(@user.login) %>, </p>

<p> Prašymą pakeisti slaptažodį padaryta. 
 Jei ne padaryti šį prašymą, tiesiog ignoruokite šį laišką. 
 Jei jūs padaryti šį prašymą spauskite žemiau esančią nuorodą: </p>

