<p> Bună ziua <%= h(@user.login) %>, </p>

<p> O cerere pentru a reseta parola dvs. a fost făcută. 
 Dacă nu aţi făcut această solicitare, ignora acest e-mail. </p>

<p> Contul dvs. nu a fost încă activat. Pur şi simplu faceţi clic pe URL-ul de mai jos pentru a activa contul dumneavoastră. După aceea s-ar putea schimba parola la ceva care este uşor să vă amintiţi. </p>

