<p> Merhaba <%= h(@user.login) %>, </p>

<p> Bir istek Şifrenizi sıfırlamak için yapılmıştır. 
 Böyle bir talepte yapmadıysanız, bu e-postayı görmezden. </p>

<p> Hesabınız henüz aktif değil. Tıklamanız yeterlidir için aşağıdaki url hesabınızı etkinleştirin. o Kolay hatırlanabilir bir şey için şifrenizi değiştirebilirsiniz sonra. </p>

