<p> Hello <%= h(@user.login) %>, </p>

<p> A kérelmet a jelszava újra beállítására került sor. 
 Ha nem teszik ezt a kérést, akkor egyszerűen hagyja figyelmen kívül ezt a levelet. 
 Ha nem teszik ezt a kérelmet, csak kattintson az alábbi linkre: </p>

