<p> Hallo <%= h(@user.login) %>, </p>

<p> Ein Ersuchen um Ihr Passwort zurückzusetzen gestellt wurde. 
 Wenn Sie diese Anfrage nicht machen, einfach ignorieren Sie diese E-Mail. </p>

<p> Ihr Konto wurde noch nicht aktiviert. Klicken Sie einfach auf die URL unten, um Ihr Konto zu aktivieren. Danach können Sie Ihr Kennwort ändern, um etwas, das einfach zu erinnern. </p>

