<p> Dobrý den, <%= h(@user.login) %>, </p>

<p> Žádost o resetování hesla byla provedena. 
 Pokud jste však tuto žádost, prostě ignorovat tento email. 
 Pokud jste si, aby tento požadavek stačí kliknout na odkaz níže: </p>

