<p> Hello <%= h(@user.login) %>, </p>

<p> Zahtjev za povrat zaporke je napravio. 
 Ako niste podnijeli ovaj zahtjev, jednostavno zanemarite ovu poruku. </p>

<p> Vaš korisnički račun još nije aktiviran. Jednostavno kliknite na URL ispod kako bi aktivirali vaš korisnički račun. Nakon toga vam svibanj promijeniti svoju lozinku u nešto što je lako zapamtiti. </p>

