<p> Hello <%= h(@user.login) %>, </p>

<p> Žádost o obnovení svého hesla byla provedena. 
 Pokud jste neprovedli tuto žádost, jednoduše ignorovat tento e-mail. 
 Pokud jste si tuto žádost stačí kliknout na odkaz níže: </p>

