<p> Hallo <%= h(@user.login) %>, </p>

<p> Een verzoek om uw wachtwoord opnieuw is gemaakt. 
 Als u niet aan dit verzoek te maken, gewoon negeren deze e-mail. </p>

<p> Uw account is nog niet geactiveerd. Klik op de onderstaande URL om uw account te activeren. Daarna kunt u uw wachtwoord wijzigen naar iets dat gemakkelijk is te onthouden. </p>

