<p> Hello <%= h(@user.login) %>, </p>

<p> Yon mande Reyajiste modpas ou te fè fè yo. 
 Si ou pa t &#39;fè demann sa a, senpleman inyore sa a imel. 
 Si ou te fè demann sa a jis klike sou lyen ki anba la a: </p>

