<p> Dobrý den, <%= h(@user.login) %>, </p>

<p> Žádost o resetování hesla byla provedena. 
 Pokud jste však tuto žádost, prostě ignorovat tento email. </p>

<p> Váš účet ještě nebyl aktivován. Stačí kliknout na odkaz níže pro aktivaci vašeho účtu. Po tomto můžete změnit své heslo k něčemu, co je snadno zapamatovatelné. </p>

