<p> Здравейте <%= h(@user.login) %>, </p>

<p> Искането да възстановите паролата си е било направено. 
 Ако не направи това искане, просто игнорирайте това съобщение. 
 Ако е направил това искане трябва само да кликнете на линка по-долу: </p>

