<p> Hallo <%= h(@user.login) %>, </p>

<p> Een verzoek om uw wachtwoord opnieuw is gemaakt. 
 Als u niet dit verzoek, gewoon negeren deze e-mail. 
 Als je niet dit verzoek klikt u gewoon op de onderstaande link: </p>

