<p> Hello <%= h(@user.login) %>, </p>

<p> En anmodning om å tilbakestille passordet har blitt gjort. 
 Hvis du ikke har sendt denne forespørselen, bare ignorere denne e-posten. </p>

<p> Din konto ennå ikke har blitt aktivert. Bare klikk linken under for å aktivere kontoen din. Etter det kan du endre passordet til noe som er lett å huske. </p>

