<p> Привіт <%= h(@user.login) %>, </p>

<p> Запит на зміну пароля було зроблено. 
 Якщо ви не робили цей запит, просто ігноруйте це повідомлення. </p>

<p> Ваш обліковий запис ще не активована. Просто клацніть посилання нижче, щоб активувати ваш рахунок. Після цього ви можете змінити пароль до чогось, який легко запам&#39;ятати. </p>

