<p style=";text-align:right;direction:rtl"> مرحبا <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> وقد قدم طلب لإعادة تعيين كلمة المرور. 
 إذا كنت لم تتقدم بهذا الطلب ، ببساطة تجاهل هذا البريد الإلكتروني. </p>

<p style=";text-align:right;direction:rtl"> لم حسابك حتى الآن تم تفعيلها. ببساطة انقر على الرابط أدناه لتفعيل حسابك. بعد ذلك يمكنك تغيير كلمة السر الخاصة بك إلى ما هو سهل أن نتذكر. </p>

