<p> Привет <%= h(@user.login) %>, </p>

<p> Запрос на изменение пароля было сделано. 
 Если вы не делали этот запрос, просто игнорируйте это сообщение. </p>

<p> Ваша учетная запись еще не активирована. Просто щелкните ссылку ниже, чтобы активировать ваш счет. После этого вы можете изменить пароль к чему-то, который легко запомнить. </p>

