<p> Sveiki <%= h(@user.login) %>, </p>

<p> Prašymą pakeisti slaptažodį padaryta. 
 Jei ne padaryti šį prašymą, tiesiog ignoruokite šį laišką. </p>

<p> Jūsų sąskaita dar nebuvo aktyvuota. Tiesiog paspauskite šią nuorodą, kad aktyvuoti savo sąskaitą. Po to galite pakeisti savo slaptažodį į kažką, kad yra lengvai įsimenamas. </p>

