<p style=";text-align:right;direction:rtl"> שלום <%= h(@user.login) %>, </p>

<p style=";text-align:right;direction:rtl"> בקשה לאפס את הסיסמה שלך כבר עשה. 
 אם לא הגשת בקשה זו, פשוט להתעלם דוא&quot;ל זו. </p>

<p style=";text-align:right;direction:rtl"> חשבונך עדיין לא הופעל. כל שעליך לעשות הוא ללחוץ על הקישור שלהלן כדי להפעיל את החשבון שלך. אחרי זה אתה יכול לשנות את הסיסמה למשהו קל לזכור. </p>

