<p> Здравейте <%= h(@user.login) %>, </p>

<p> Искането да смените паролата си е направено. 
 Ако не сте направили това искане, просто игнорирайте това съобщение. 
 Ако са направили това искане трябва само да кликнете на линка по-долу: </p>

