<p> Hello <%= h(@user.login) %>, </p>

<p> Žádost o obnovení svého hesla byla provedena. 
 Pokud jste neprovedli tuto žádost, jednoduše ignorovat tento e-mail. </p>

<p> Váš účet ještě nebyl aktivován. Jednoduše klikněte na odkaz níže pro aktivaci účtu. Po tomto můžete změnit heslo k něčemu, co je snadno zapamatovatelné. </p>

