<p> <%= h(@user.login) %>, नमस्ते </p>

<p> एक करने के लिए अपना पासवर्ड रीसेट अनुरोध किया गया है. 
 यदि आप इस अनुरोध नहीं किया है, बस इस ईमेल की उपेक्षा. 
 यदि आप इस अनुरोध बस नीचे दिए गए लिंक पर क्लिक किया: </p>

