<p> Γεια σας <%= h(@user.login) %>, </p>

<p> Η αίτηση για την επαναφορά του κωδικού πρόσβασής σας έχει γίνει. 
 Αν δεν έκανε το αίτημα αυτό, απλά να αγνοήσουμε αυτό το email. 
 Αν έκανε αυτή την αίτηση απλά κάντε κλικ στον παρακάτω σύνδεσμο: </p>

