<p> Bună ziua <%= h(@user.login) %>, </p>

<p> O cerere pentru a reseta parola dvs. a fost făcut. 
 Dacă nu aţi făcut această solicitare, ignora pur şi simplu acest e-mail. </p>

<p> Contul dvs. nu a fost încă activat. Pur şi simplu faceţi clic pe URL-ul de mai jos pentru a activa contul. După aceea puteţi schimba parola pentru a ceva care este usor de tinut minte. </p>

