<p> Hallo <%= h(@user.login) %>, </p>

<p> Eine Anfrage zum Zurücksetzen des Passworts vorgenommen wurde. 
 Wenn Sie nicht diesen Antrag stellen, ignorieren Sie diese E-Mail. 
 Wenn Sie sich diesen Antrag stellen klicken Sie einfach auf den folgenden Link: </p>

