<p> Привет <%= h(@user.login) %>, </p>

<p> Необходимо сбросить Ваш пароль был достигнут. 
 Если вы не сделать эту просьбу, просто игнорировать это сообщение. 
 Если вы сделали эту просьбу просто нажмите на ссылку ниже: </p>

