<p style=";text-align:right;direction:rtl"> שלום <%= h(@user.login) %>, </p>

<p style=";text-align:right;direction:rtl"> בקשה לאפס את הסיסמה שלך כבר עשה. 
 אם לא ביקשת זאת, פשוט מתעלמים זו דוא&quot;ל. 
 אם עשה בקשה זו פשוט לחץ על הקישור להלן: </p>

