<p> <%= h(@user.login) %>, नमस्ते </p>

<p> एक करने के लिए अपना पासवर्ड रीसेट अनुरोध किया गया है. 
 यदि आप इस अनुरोध नहीं किया है, बस इस ईमेल की उपेक्षा. </p>

<p> आपका खाता अभी तक सक्रिय नहीं किया गया है. बस क्लिक करने के लिए नीचे दी गई यूआरएल अपने खाते को सक्रिय. उसके बाद आप कुछ है जो याद करने में आसान है के लिए अपना पासवर्ड बदल सकते हैं. </p>

