<p> Sveiki <%= h(@user.login) %>, </p>

<p> Prašyti slaptažodžio nebuvo padaryta. 
 Jei nepavyko padaryti šį prašymą, tiesiog nekreipkite dėmesio į šį laišką. 
 Jeigu jums šis prašymas spauskite žemiau esančią nuorodą: </p>

