<p> Tere <%= h(@user.login) %>, </p>

<p> Taotluse parooli ole tehtud. 
 Kui te ei ole seda taotlust, lihtsalt ignoreeri seda posti. </p>

<p> Teie konto ei ole aktiveeritud. Kl천psake url allpool oma konto aktiveerida. P채rast seda v천id muuta oma salas천na, et midagi, mida on lihtne meeles pidada. </p>

