<p> Hello <%= h(@user.login) %>, </p>

<p> Permintaan untuk mereset password Anda telah dibuat. 
 Jika Anda tidak membuat permintaan ini, cukup abaikan email ini. 
 Jika Anda memang membuat permintaan ini klik saja link di bawah ini: </p>

