<p> Hello <%= h(@user.login) %>, </p>

<p> ขอให้ตั้งรหัสผ่านใหม่ได้รับการทำ 
 หากคุณไม่ได้ทำคำขอนี้เพียงไม่สนใจอีเมลนี้ </p>

<p> บัญชีของคุณยังไม่ได้เปิดใช้งาน เพียงแค่คลิก url ด้านล่างเพื่อเปิดใช้บัญชี หลังจากที่คุณอาจเปลี่ยนรหัสผ่านการบางอย่างที่ง่ายต่อการจำ </p>

