<p style=";text-align:right;direction:rtl"> سلام <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> درخواست برای تنظیم مجدد رمز عبور خود ساخته شده است. 
 اگر شما متوجه این درخواست را ندارد ، به سادگی این ایمیل را نادیده بگیرید. </p>

<p style=";text-align:right;direction:rtl"> حساب کاربری شما هنوز فعال شده است. به سادگی با کلیک بر روی آدرس زیر را برای فعال سازی حساب کاربری خود شوید. بعد از آن شما ممکن است رمز عبور خود را به چیزی که به آن آسان است به خاطر داشته باشید تغییر دهید. </p>

