<p> Hello <%= h(@user.login) %>, </p>

<p> Wniosek, aby zresetować hasło zostało dokonane. 
 Jeśli nie uczynił tego wniosku, po prostu zignorować tę wiadomość. </p>

<p> Twoje konto nie zostało jeszcze aktywowane. Wystarczy kliknąć na poniższy adres URL w celu aktywacji konta. Po tym możesz zmienić hasło do czegoś, co jest łatwe do zapamiętania. </p>

