<p> Hello <%= h(@user.login) %>, </p>

<p> Pieprasījums, lai atjaunotu savu paroli gūti. 
 Ja jums nav padarīt šo lūgumu, vienkārši ignorē šo vēstuli. </p>

<p> Jūsu konts vēl nav aktivizēts. Vienkārši noklikšķiniet uz url zemāk, lai aktivizētu savu kontu. Pēc tam Jūs varētu nomainīt savu paroli uz kaut ko, kas ir viegli atcerēties. </p>

