<p> Olá <%= h(@user.login) %>, </p>

<p> Uma solicitação para redefinir sua senha foi feito. 
 Se você não fizer essa solicitação, basta ignorar este e-mail. </p>

<p> Sua conta ainda não foi ativado. Basta clicar no URL abaixo para ativar sua conta. Depois disso, você pode alterar sua senha para algo que é fácil de lembrar. </p>

