<p> Hello <%= h(@user.login) %>, </p>

<p> Ang isang kahilingan upang i-reset ang iyong password ay ginawa. 
 Kung hindi ninyo ginawa ang hiling na ito, kailangan lang huwag pansinin ang email na ito. 
 Kung ikaw ay gumawa ng mga hiling na ito, i-click lamang ang link sa ibaba: </p>

