<p> Hei <%= h(@user.login) %>, </p>

<p> En anmodning om å tilbakestille passordet har blitt gjort. 
 Hvis du ikke har denne forespørselen, bare overse denne e-posten. 
 Hvis du har sendt denne forespørselen bare klikke på linken under: </p>

