<p> Pozdravljeni <%= h(@user.login) %>, </p>

<p> Zahtevo za ponastavitev gesla je bil dosežen. 
 Če niste te zahteve, preprosto prezrite to sporočilo. 
 Če si lahko to zahtevo samo kliknite na spodnjo povezavo: </p>

