<p> Привет <%= h(@user.login) %>, </p>

<p> Необходимо сбросить Ваш пароль был достигнут. 
 Если вы не сделали этого запроса, просто проигнорируйте это письмо. </p>

<p> Ваша учетная запись еще не активирована. Просто нажмите ссылку, чтобы активировать учетную запись. После этого вы можете изменить свой пароль на то, что легко запомнить. </p>

