<p style=";text-align:right;direction:rtl"> سلام <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> درخواست برای تنظیم مجدد رمز عبور خود ساخته شده است. 
 اگر شما متوجه این درخواست را ندارد ، به سادگی این ایمیل را نادیده بگیرید. 
 اگر شما متوجه این درخواست را فقط لینک زیر کلیک کنید : </p>

