<p> Ciao <%= h(@user.login) %>, </p>

<p> Una richiesta di reimpostare la password è stata fatta. 
 Se non hai fatto questa richiesta, semplicemente ignorare questa email. </p>

<p> Il tuo account non è stato ancora attivato. Basta cliccare l&#39;url qui sotto per attivare l&#39;account. Dopo di che si può cambiare la tua password per qualcosa che sia facile da ricordare. </p>

