<p> Привіт <%= h(@user.login) %>, </p>

<p> Необхідно скинути Ваш пароль був досягнутий. 
 Якщо ви не зробили цього запиту, просто ігноруйте цей лист. </p>

<p> Ваш обліковий запис ще не активована. Просто натисніть посилання, щоб активувати обліковий запис. Після цього ви можете змінити свій пароль на те, що легко запам&#39;ятати. </p>

