<p> Welkom <%= h(@user.login) %>, </p>

<p> Een verzoek om uw wachtwoord opnieuw is gemaakt. 
 Als je niet maken, dit verzoek, gewoon negeren deze e-mail. </p>

<p> Uw account is nog niet geactiveerd. Klik simpelweg op de onderstaande URL om uw account te activeren. Daarna kunt u uw wachtwoord te wijzigen in iets dat gemakkelijk te onthouden. </p>

