<p> Поздрав <%= h(@user.login) %>, </p>

<p> Захтев за поновно постављање лозинке је направљен. 
 Ако нисте направили овај захтев, једноставно игнорисати ову поруку. 
 Ако сте овај захтев само кликните на линк испод: </p>

