<p> Здравейте <%= h(@user.login) %>, </p>

<p> Искането да възстановите паролата си е направено. 
 Ако не направи това искане, просто игнорират този имейл. </p>

<p> Вашата сметка все още не е активирана. Просто кликнете на URL-долу, за да активирате профила си. След това можете да смените паролата си за нещо, което е лесно за запомняне. </p>

