<p> Dobrý deň, <%= h(@user.login) %>, </p>

<p> Žiadosť o resetovanie hesla bola vykonaná. 
 Ak ste však túto žiadosť, jednoducho ignorovať tento email. 
 Ak ste si, aby táto požiadavka stačí kliknúť na odkaz nižšie: </p>

