<p> Hello <%= h(@user.login) %>, </p>

<p> Një kërkesë për të rivendosni fjalëkalimin tuaj është bërë. 
 Nëse ju nuk e keni bërë këtë kërkesë, thjesht injoroni këtë email. 
 Nëse ju keni bërë këtë kërkesë thjesht klikoni lidhjen më poshtë: </p>

