<p> Hello <%= h(@user.login) %>, </p>

<p> Žiadosť o obnovenie svojho hesla bola vykonaná. 
 Ak ste nevykonali túto žiadosť, jednoducho ignorovať tento e-mail. 
 Ak ste si túto žiadosť stačí kliknúť na odkaz nižšie: </p>

