<p> Merhaba <%= h(@user.login) %>, </p>

<p> Şifrenizi sıfırlamak için bir istek yapıldı. 
 Bu isteği siz yapmadıysanız, bu e-postayı görmezden geliyor. </p>

<p> Hesabınız henüz aktif değil. Sadece aşağıda hesabınızı aktive url tıklatın. Bundan sonra kolay hatırlanacak bir şey için şifrenizi değiştirebilirsiniz. </p>

