<p> Hallo <%= h(@user.login) %>, </p>

<p> Een verzoek om uw wachtwoord opnieuw is gemaakt. 
 Als u niet aan dit verzoek te maken, gewoon negeren deze e-mail. 
 Als u deed dit verzoek klikt u op de onderstaande link: </p>

