<p> Hei <%= h(@user.login) %>, </p>

<p> En anmodning om å tilbakestille passordet har blitt gjort. 
 Hvis du ikke har denne forespørselen, bare overse denne e-posten. </p>

<p> Kontoen din er ennå ikke aktivert. Bare klikk nettadressen nedenfor for å aktivere kontoen. Etter at du kan endre passordet til noe som er lett å huske. </p>

