<p> Ola <%= h(@user.login) %>, </p>

<p> Unha solicitude para axustar o teu contrasinal se realizase. 
 Se non fixo esa petición, simplemente ignorar este correo-e. </p>

<p> A súa conta non foi activado. Só ten que premer na dirección de embaixo para activar a súa conta. Despois diso, pode cambiar o seu contrasinal para algo que sexa fácil de lembrar. </p>

