<p> Pozdrav <%= h(@user.login) %>, </p>

<p> Zahtjev za ponovno postavljanje zaporke je napravio. 
 Ako niste podnijeli ovaj zahtjev, jednostavno zanemarite ovu poruku e-pošte. </p>

<p> Vaš račun još nije aktiviran. Jednostavno kliknite na URL ispod da biste aktivirali svoj korisnički račun. Nakon toga možete promijeniti svoju lozinku na nešto što je lako zapamtiti. </p>

