<p> Hallo <%= h(@user.login) %>, </p>

<p> Eine Anforderung zum Zurücksetzen des Passworts vorgenommen wurde. 
 Wenn Sie nicht diesen Antrag stellen, ignorieren Sie diese E-Mail. </p>

<p> Ihr Konto wurde noch nicht aktiviert. Klicken Sie einfach die URL unten Ihr Konto zu aktivieren. Danach können Sie Ihr Passwort ein, um etwas, das leicht zu merken ist der Wandel. </p>

