<p> Привет <%= h(@user.login) %>, </p>

<p> Необходимо сбросить Ваш пароль был достигнут. 
 Если вы не сделать эту просьбу, просто игнорировать это сообщение. </p>

<p> Ваша учетная запись еще не активирована. Просто нажмите на ссылку, чтобы активировать учетную запись. После этого Вы можете сменить пароль на то, что легко запомнить. </p>

