<p> Tere <%= h(@user.login) %>, </p>

<p> Taotluse parooli ole tehtud. 
 Kui sa ei ole seda taotlust, lihtsalt ignoreeri seda e-kirja. </p>

<p> Teie konto ei ole veel aktiveeritud. Selleks klõpsa URL-i alla, et aktiveerida oma konto. Pärast seda võite muuta oma parooli millegagi, mis jääb lihtsalt meelde. </p>

