<p> Tere <%= h(@user.login) %>, </p>

<p> Taotluse parooli ole tehtud. 
 Kui te ei teinud seda avaldust, lihtsalt ignoreerige seda emaili. </p>

<p> Sinu konto ei ole veel aktiveeritud. Selleks klõpsa URL-i alla, et aktiveerida oma konto. Pärast seda võite muuta oma parooli millelegi, mida on lihtne meeles pidada. </p>

