<p> Hola <%= h(@user.login) %>, </p>

<p> La solicitud para restablecer su contraseña se ha hecho. 
 Si usted no ha realizado dicha solicitud, simplemente ignore este mensaje. </p>

<p> Su cuenta no ha sido activado. Simplemente haga clic en la URL a continuación para activar tu cuenta. Después de que usted puede cambiar su contraseña a algo que sea fácil de recordar. </p>

