<p> Hello <%= h(@user.login) %>, </p>

<p> Një kërkesë për të rivendosur fjalëkalimin tuaj është bërë. 
 Nëse ju nuk e keni bërë këtë kërkesë, thjesht injoroni kete email. 
 Nëse ju e keni bërë këtë kërkesë vetëm klikoni lidhjen më poshtë: </p>

