<p style=";text-align:right;direction:rtl"> שלום <%= h(@user.login) %>, </p>

<p style=";text-align:right;direction:rtl"> בקשה כדי לאפס את הסיסמה בוצעה. 
 אם לא הגשת בקשה זו, פשוט להתעלם דוא&quot;ל זו. </p>

<p style=";text-align:right;direction:rtl"> החשבון שלך עדיין לא הופעל. פשוט לחץ על כתובת האתר הבאה להפעיל את החשבון שלך. אחרי זה אתה יכול לשנות את הסיסמה למשהו קל לזכור. </p>

