<p> Hello <%= h(@user.login) %>, </p>

<p> Pieprasījumu, lai atiestatītu savu paroli, ir veikta. 
 Ja jūs nav iesniegusi šo prasību, vienkārši ignorē šo vēstuli. 
 Ja jūs padarīt šo prasību vienkārši noklikšķiniet uz saites zemāk: </p>

