<p> Привет <%= h(@user.login) %>, </p>

<p> Необходимо сбросить Ваш пароль был достигнут. 
 Если вы не сделали этого запроса, просто проигнорируйте это письмо. 
 Если вы делали этот запрос просто нажмите на ссылку ниже: </p>

