<p> Hej <%= h(@user.login) %>, </p>

<p> En begäran att återställa ditt lösenord har gjorts. 
 Om du inte har gjort denna begäran, helt enkelt ignorera detta mail. 
 Om du har gjort denna förfrågan klicka bara på länken nedan: </p>

