<p> Привіт <%= h(@user.login) %>, </p>

<p> Необхідно скинути Ваш пароль був досягнутий. 
 Якщо ви не зробити це прохання, просто ігнорувати це повідомлення. 
 Якщо ви зробили це прохання просто натисніть на посилання нижче: </p>

