<p> Hei <%= h(@user.login) %>, </p>

<p> Pyyntöön salasanasi on tehty. 
 Jos et ole tehnyt tätä pyyntöä, yksinkertaisesti sivuuttaa tämän sähköpostiviestin. 
 Jos et tee tätä pyyntöä napsauttamalla alla olevaa linkkiä: </p>

