<p style=";text-align:right;direction:rtl"> سلام <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> درخواست برای تنظیم مجدد رمز عبور خود را ساخته شده است. 
 اگر شما این درخواست را ندارد ، به سادگی این ایمیل را نادیده گرفت. 
 اگر شما این درخواست را فقط پیوند زیر کلیک کنید : </p>

