<p style=";text-align:right;direction:rtl"> مرحبا <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> وقد قدم طلب لإعادة تعيين كلمة المرور. 
 إذا كنت لم تتقدم بهذا الطلب ، ببساطة تجاهل هذا البريد الإلكتروني. 
 اذا كنت لم تتقدم بهذا الطلب فقط انقر على الرابط أدناه : </p>

