<p> Hello <%= h(@user.login) %>, </p>

<p> Ang isang kahilingan upang i-reset ang iyong password ay ginawa. 
 Kung hindi ninyo ginawa ang hiling na ito, kailangan lang huwag pansinin ang email na ito. </p>

<p> Ang iyong account ay hindi pa ginawang aktibo. I-click lamang ang url sa ibaba upang ma-activate ang iyong account. Matapos na maaari mong palitan ang iyong password sa isang bagay na madaling matandaan. </p>

