<p style=";text-align:right;direction:rtl"> سلام <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> درخواست برای تنظیم مجدد رمز عبور خود را ساخته شده است. 
 اگر شما این درخواست را ندارد ، به سادگی این ایمیل را نادیده گرفت. </p>

<p style=";text-align:right;direction:rtl"> حساب شما هنوز فعال شده است. نگران نباشید ، آدرس زیر را برای فعال سازی حساب کاربری خود کلیک کنید. بعد از آن میتوانید رمز عبور خود را به چیزی است که آسان به خاطر داشته باشید تغییر کنند. </p>

