<p> Hallo <%= h(@user.login) %>, </p>

<p> Eine Anforderung zum Zurücksetzen des Passworts vorgenommen wurde. 
 Wenn Sie nicht diesen Antrag stellen, ignorieren Sie diese E-Mail. 
 Wenn Sie habe diesen Antrag stellen klicken Sie einfach den unten stehenden Link: </p>

