<p> Bună ziua <%= h(@user.login) %>, </p>

<p> O cerere pentru a reseta parola dvs. a fost făcută. 
 Dacă nu aţi făcut această solicitare, ignora acest e-mail. 
 Dacă aţi făcut această solicitare doar să faceţi clic pe link-ul de mai jos: </p>

