<p> Hei <%= h(@user.login) %>, </p>

<p> Pyytää salasanaa on tehty. 
 Jos et tee tätä pyyntöä, yksinkertaisesti jättää tämän viestin huomiotta. 
 Jos et tee tätä pyyntöä klikkaa alla olevaa linkkiä: </p>

