<p> Γεια <%= h(@user.login) %>, </p>

<p> Μια αίτηση για να επαναφέρετε τον κωδικό πρόσβασής σας έχει γίνει. 
 Αν δεν κάνει αυτό το αίτημα, απλά αγνοούν αυτό το email. 
 Αν έκανε αυτή την αίτηση απλά κάντε κλικ στον παρακάτω σύνδεσμο: </p>

