<p> Bună ziua <%= h(@user.login) %>, </p>

<p> O cerere pentru a reseta parola dvs. a fost efectuată. 
 Dacă nu aţi făcut această solicitare, pur şi simplu ignora acest e-mail. 
 Dacă aţi făcut această solicitare, doar să faceţi clic pe link-ul de mai jos: </p>

