<p style=";text-align:right;direction:rtl"> مرحبا <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> وقد قدم طلب لإعادة تعيين كلمة المرور. 
 إذا كنت لم تقدم هذا الطلب ، ببساطة تجاهل هذا البريد الإلكتروني. </p>

<p style=";text-align:right;direction:rtl"> لم حسابك بعد تفعيلها. ببساطة انقر فوق رابط أدناه لتفعيل حسابك. بعد ذلك يمكنك تغيير كلمة السر الخاصة بك لشيء أن يكون من السهل تذكر. </p>

