<p> Witam <%= h(@user.login) %>, </p>

<p> Wniosek, aby zresetować hasło zostało dokonane. 
 Jeśli nie uczynił tego wniosku, po prostu zignorować tę wiadomość. </p>

<p> Twoje konto nie zostało jeszcze aktywowane. Po prostu kliknij poniższy adres URL, aby aktywować konto. Po tym można zmienić hasło na coś, co jest łatwy do zapamiętania. </p>

