<p> Xin chào <%= h(@user.login) %>, </p>

<p> Một yêu cầu đặt lại mật khẩu của bạn đã được thực hiện. 
 Nếu bạn đã không thực hiện yêu cầu này, chỉ cần bỏ qua email này. 
 Nếu bạn đã làm cho yêu cầu này chỉ cần nhấp vào liên kết dưới đây: </p>

