<p> Ola <%= h(@user.login) %>, </p>

<p> Unha solicitude para axustar o teu contrasinal foi feito. 
 Se non fai esta solicitude, pode ignorar este correo-e. 
 Se fai esta solicitude, basta con premer na ligazón seguinte: </p>

