<p> Ola <%= h(@user.login) %>, </p>

<p> A solicitude para axustar o teu contrasinal se realizase. 
 Se non fai esta solicitude, simplemente ignorar este correo-e. 
 Se fixo esta proposta basta con premer na seguinte ligazón: </p>

