<p style=";text-align:right;direction:rtl"> שלום <%= h(@user.login) %>, </p>

<p style=";text-align:right;direction:rtl"> הכניסה שלך עבור <%= GlobalConfig.application_name %> is <%= h(@login) %>. </p>

