<p> Sveiki <%= h(@user.login) %>, </p>

<p> Sveiki atvykę į <%= MuckEngine.configuration.application_name %>. Jūsų paskyra buvo sėkmingai sukurta. </p>

<p> Spustelėkite žemiau, norėdami aplankyti svetainę: </p>
