<p style=";text-align:right;direction:rtl"> مرحبا <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> أهلا بكم في <%= GlobalConfig.application_name %>. وقد تم إنشاء حسابك بنجاح. </p>

<p style=";text-align:right;direction:rtl"> انقر أدناه لزيارة الموقع : </p>
