<p> Merhaba <%= h(@user.login) %>, </p>

<p> Hoş geldiniz <%= MuckEngine.configuration.application_name %>. Hesabınız başarıyla oluşturuldu. </p>

<p> sitesini ziyaret etmek için aşağıdaki linke tıklayınız: </p>
