<p style=";text-align:right;direction:rtl"> سلام <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> خوش آمدید به <%= MuckEngine.configuration.application_name %>. حساب کاربری شما با موفقیت ایجاد شده است. </p>

<p style=";text-align:right;direction:rtl"> کلیک کنید در زیر به سایت مراجعه کنید : </p>
