<p> Pozdravljeni <%= h(@user.login) %>, </p>

<p> Dobrodošli v <%= MuckEngine.configuration.application_name %>. Vaš račun je bil uspešno ustvarjen. </p>

<p> Kliknite spodaj, da obiščete spletno stran: </p>
