<p> Привіт <%= h(@user.login) %>, </p>

<p> Ласкаво просимо до <%= MuckEngine.configuration.application_name %>. Ваш обліковий запис була успішно створена. </p>

<p> Натисніть нижче, щоб відвідати сайт: </p>
