<p> Здравейте <%= h(@user.login) %>, </p>

<p> Добре дошли в <%= MuckEngine.configuration.application_name %>. Вашият профил бе създаден успешно. </p>

<p> Кликнете по-долу за да посетите сайта: </p>
