<p style=";text-align:right;direction:rtl"> مرحبا <%= h(@user.login) %>، </p>

<p style=";text-align:right;direction:rtl"> مرحبا بكم في <%= MuckEngine.configuration.application_name %>. وقد تم انشاء حسابك بنجاح. </p>

<p style=";text-align:right;direction:rtl"> انقر أدناه لزيارة الموقع : </p>
