<p> Привет <%= h(@user.login) %>, </p>

<p> Добро пожаловать в <%= MuckEngine.configuration.application_name %>. Ваша учетная запись была успешно создана. </p>

<p> Нажмите ниже, чтобы посетить сайт: </p>
