<p>Hello <%= h(@user.login) %>,</p>

<p>Welcome to <%= MuckEngine.configuration.application_name %>.  Your account has been successfully created.</p>

<p>Click below to visit the site:</p>
<a href="<%= root_url %>"><%= root_url %></a>
