<h3><%=translate('muck.users.edit_access_code') %></h3>
<%= output_errors(translate('muck.users.access_code_edit_problem'), {:class => 'help-box'}, @access_code) %>
<% custom_form_for @access_code, :url => admin_access_code_path(@access_code), :html => { :method => :put } do |f| -%>
  <%= render :partial => 'admin/access_codes/form', :locals => { :f => f } %>
  <%= f.submit translate('muck.users.save') %>
<% end -%>