<h2><%=translate('muck.users.roles') %></h2>
<p>
  <%= link_to translate('muck.users.add_role'), new_admin_role_path, { :class => 'dialog-pop', :title => translate('muck.users.add_role_dialog_title') } %>
</p>
<table class="adminTable">
  <thead>
    <tr>
      <th><%=translate('muck.users.role') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="current-roles">
    <%= render :partial => 'admin/roles/role', :collection => @roles %>
  </tbody>
</table>