<div id="search_box" class="search-box">
  <%= form_tag search_admin_users_path, :class => 'ajax' do -%>
    <%= text_field_tag :query, '', :class => 'span-5' %>
    <%= submit_tag t("muck.users.admin.search_users") %>
  <% end -%>
</div>